<a href="https://colab.research.google.com/github/riyaroy2086/ML-Projects/blob/main/Diabetes_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the libs/dependencies

In [133]:
import numpy as np
# to make numpy arrays helpful in proceesing
import pandas as pd
# create data frames to put the data in a structured table
from sklearn.preprocessing import StandardScaler
# This standaradises the all the attribute data in the common range
from sklearn.model_selection import train_test_split 
# train_test_split function helps to split the data into traininjg and test data
from sklearn import svm
#svm = support vector machine model
from sklearn.metrics import accuracy_score

Data collection and Analysis

In [134]:
# Loading the Diabetes dataset to a pandas dataframe
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [135]:
pd.read_csv?

In [136]:
#printing the first five 5 rows of dataset
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [137]:
# no. of rows and cols
diabetes_dataset.shape

(768, 9)

In [139]:
# statistical measures oif the data
# i.e. mean / st deviation etc of the data frame
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [140]:
# no. of diabetic e.g.
# 0= non-diabetic and 1= diabetic patients
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [141]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [142]:
# separating data and labels
# dropping a particular row then axis = 0 and dropping a particular col then axis = 1
X = diabetes_dataset.drop(columns='Outcome',axis=1) # dropping the Outcome col
Y = diabetes_dataset['Outcome'] # Only the Outcome col

In [143]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [144]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data standardization

In [145]:
scaler = StandardScaler()

In [146]:
scaler.fit(X)

StandardScaler()

In [177]:
standardized_data = scaler.transform(X) # fit and tranform using a single function

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [175]:
print(standardized_data)

[[ -1.42450676  -3.90124033  -3.75689254 ...  -4.57253981  -1.45599125
   -3.05872969]
 [ -1.55545276  -3.90317165  -3.75772156 ...  -4.58685116  -9.05892331
   -3.07043424]
 [ -1.37212836  -3.90016737  -3.7579979  ...  -4.59359794  -0.21638277
   -3.06981822]
 ...
 [ -1.45069596  -3.90206804  -3.75689254 ...  -4.58766895 -11.97888997
   -3.07105027]
 [ -1.55545276  -3.90191476  -3.75855058 ...  -4.57969549  -9.11401702
   -3.06057778]
 [ -1.55545276  -3.90292641  -3.75716888 ...  -4.57908214 -10.0506101
   -3.07536248]]

In [176]:
X= standardized_data

In [163]:
print(X) # x represents the data
print(Y) # Y '' the model / labels

[[-0.95180864 -3.7571036  -3.56486115 ... -4.03458073 -0.01022106
  -2.70705751]
 [-1.39275404 -3.81881281 -3.58089709 ... -4.14734019 -2.52764931
  -2.8446161 ]
 [-0.77543048 -3.7228207  -3.58624241 ... -4.20049822  0.40022919
  -2.83737617]
 ...
 [-1.03999772 -3.78355041 -3.56486115 ... -4.15378359 -3.49448769
  -2.85185602]
 [-1.39275404 -3.77865285 -3.59693304 ... -4.09096046 -2.54589154
  -2.72877728]
 [-1.39275404 -3.81097672 -3.57020646 ... -4.08612791 -2.85600951
  -2.9025355 ]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Splitting data into training and the testing data

In [164]:
 # 4 vars to train the model and then test it afterwars
 # the model should not see the test data
 # split func splits train and test data
 # test size = 0.2 means 20% data is used for testing nad 80% of the data set is used for the training
 # stratify = Y meaning that all the diabetic X_train and non-diabetic would go to X_test so that 
 # we have a uniform proportion of both the variants we are declaring as Y
 # random_state = 2 for each partuclar value splitting will be diff

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size =0.2,stratify=Y,random_state=2)

In [165]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the model

In [166]:
classifier = svm.SVC(kernel='linear')

In [167]:
#training the SVM classifier
#here training data = X_train and label =Y_train
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

Evaluating the model :Accuracy Score on training data

In [168]:
X_train_prediction = classifier.predict(X_train)
# compring the predictions w/ the Y-train data
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [169]:
print("Accuracy score of Training Data :",training_data_accuracy)

Accuracy score of Training Data : 0.7247557003257329

Accuracy Score on the Test Data

In [170]:
X_test_prediction = classifier.predict(X_test)
# comparing the predictions w/ the Y-test data
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [171]:
print("Accuracy score of Test Data :",test_data_accuracy)

Accuracy score of Test Data : 0.6753246753246753

In [172]:
input_data = (5,166,72,19,175,25.8,0.587,51)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 1):
  print('The person is diabetic.')
else:
  print('The person is not diabetic.')

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
The person is diabetic.

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"